import React from 'react';
{{#if style}}
import styles from './style.less';
{{/if}}

interface Props {}

const {{ properCase name }}: React.FC<Props> = (props) => {
{{#if style}}
  return <div className={styles.{{ camelCase name ~}} }></div>;
{{else}}
  return <div></div>;
{{/if}}
};

export default {{ properCase name }};
